@font-face {
  font-family: 'Classy';
  src: url(../fonts/Classy.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'fontawesome-webfont';
  src: url(../fonts/fontawesome-webfont.ttf);
  font-display: swap;
}



